@model IEnumerable<DotJournal.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
</p>
<div class="shelfGrid">
    @foreach (var item in Model)
    {
    <div class="bookContainer">
        <div class="book"
             onclick="window.location='/Pages/Index/@item.id';"
             style="background-color:#@Html.DisplayFor(modelItem => item.colour)">
            <h2>@Html.DisplayFor(modelItem => item.title)</h2>
        </div>
        <br/>
        <a asp-action="Edit" asp-route-id="@item.id"><i class="fas fa-pencil-alt fas-green"></i></a> | 
        <a asp-action="Delete" asp-route-id="@item.id"><i class="far fa-trash-alt fas-red"></i></a>
    </div>
    }
</div>
    @section CSS{
        <style>
            .book {
                text-align: center;
                border: 10px double #ffffff;
                width: 10rem;
                height: 15rem;
                margin: 1rem;
                color: #ffffff;
                cursor: pointer;
                box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                padding: 1rem;
                overflow: hidden;
                display: inline-block; 
                margin: 0 auto;
            }

            .a {
                text-decoration: none;
            }

            .book:hover {
                box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            }

            .shelfGrid {
                display: Grid;
                grid-template-columns: auto auto auto auto;
            }

            .bookContainer{
                text-align: center;
                padding-left: auto;
                padding-right: auto;
            }

            .fas-red{
                color: #dc3545;
            }

            .fas-green{
                color: #28a745;
            }
        </style>
    }
